In [102]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [103]:
import os

In [104]:
%matplotlib inline

In [105]:
PATH = '../../data/parking/raw_csv'

In [106]:
csvs_parking = [p for p in os.listdir(PATH) if p[-4:] == '.csv'];csvs_parking

['Parking Citations 2016 Jan-June.csv',
 'Parking Citations 2016 July-Sept.csv',
 'Parking Citations 2016 Oct-Dec.csv',
 'Parking Citations 2017.csv',
 'Parking Citations 2018 Thru 3-24-18.csv',
 'Violation Codes.csv']

In [107]:
test = f"{PATH}/{csvs_parking[0]}"

In [108]:
test

'../../data/parking/raw_csv/Parking Citations 2016 Jan-June.csv'

## Basic Data Exploration

In [109]:
df = pd.read_csv(test)
df.head()

,Cite Number,Issue Date,Issue T,Violat,Sublocatio,Street,Meter #,Is Wa,Due
0,5180004964,02/01/2016,13:01,X,NaN,SEE NOTES,DU2224,NO,0.0
1,5090004298,06/30/2016,17:14,NP,NaN,SEE NOTES,216E,NO,50.0
2,5140003457,04/13/2016,15:25,X,NaN,SEE NOTES,408A,NO,0.0
3,5060003463,04/19/2016,12:46,X,NaN,SEE NOTES,212A,NO,0.0
4,5230004873,05/02/2016,09:00,PNP,NaN,SEE NOTES,NaN,NO,0.0

In [110]:
df.tail()

,Cite Number,Issue Date,Issue T,Violat,Sublocatio,Street,Meter #,Is Wa,Due
51248,5120004483,06/09/2016,11:52,W,NaN,SEE NOTES,NaN,YES,0.0
51249,5230006309,06/21/2016,11:51,W,NaN,SEE NOTES,NaN,YES,0.0
51250,5230005098,05/11/2016,13:32,PT2,NaN,SEE NOTES,NaN,NO,0.0
51251,0094283604,04/11/2016,08:48,S,NaN,SEE NOTES,NaN,NO,0.0
51252,5230001828,01/04/2016,06:59,PSW,NaN,SEE NOTES,NaN,NO,0.0

In [111]:
col_dict = {}
for p in csvs_parking:
    if("Violation" in p): continue
    path_csv = f"{PATH}/{p}"
    df = pd.read_csv(path_csv)
    col_dict[p] = df.columns

In [112]:
col_sets = list(map(set, col_dict.values()))

In [113]:
union = set.union(*col_sets)
intersection = set.intersection(*col_sets)

In [114]:
print(len(union))
print(union)

13
{'Sublocatio', 'Is Wa', 'Void Rea', 'Issue T', 'Cite Number', 'Street', 'Meter #', 'AgeWhenP', 'Due', 'Issue Date', 'Paid Date', 'Violat', 'Payme'}

In [115]:
print(len(intersection))
print(intersection)

8
{'Due', 'Sublocatio', 'Violat', 'Is Wa', 'Issue Date', 'Cite Number', 'Street', 'Meter #'}

In [116]:
for col in union.difference(intersection):
    print(col)

Void Rea
Paid Date
Issue T
AgeWhenP
Payme

**We really need Issue T (time), all the other ones are unnecessary, let's look to see which csvs are missing Issue T and see if we should just drop them**

In [117]:
for k, v in col_dict.items():
    if "Issue T" not in v: print(k)

Parking Citations 2018 Thru 3-24-18.csv

In [118]:
df = pd.read_csv(f"{PATH}/Parking Citations 2018 Thru 3-24-18.csv")
df.head()

  Cite Number  Issue Date Violat Sublocatio       Street Meter # Is Wa  Due
0  M201507360  02/16/2018    PSW        700      YORK ST     NaN    NO  0.0
1  M201306003  01/05/2018     HO       100S       1ST ST     NaN    NO  0.0
2  M202705546  01/18/2018      X       N200       1ST ST    3012    NO  0.0
3  M202802800  01/10/2018    NPP       500W   LIBERTY ST     NaN    NO  0.0
4  M200208507  02/23/2018     NP       200E  CHESTNUT ST     NaN    NO  0.0

**So this csv is missing relevant time data, so we will make two new CSVs, one that has time data (hour and minute) and another that doesn't but has the 8 shared columns, and that can be used for stuff that doesn't need precise time, and maybe one more that has all the data just checked together with NaN for missing values**

In [119]:
all_dfs  = []
for p in csvs_parking:
    if("Violation" in p): continue
    path_csv = f"{PATH}/{p}"
    all_dfs.append(pd.read_csv(path_csv))

In [120]:
df_all = pd.concat(all_dfs, ignore_index=True)

C:\Users\Rob\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [121]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227430 entries, 0 to 227429
Data columns (total 13 columns):
AgeWhenP       35613 non-null float64
Cite Number    227430 non-null object
Due            227430 non-null float64
Is Wa          227430 non-null object
Issue Date     227430 non-null object
Issue T        207094 non-null object
Meter #        122235 non-null object
Paid Date      17061 non-null object
Payme          35613 non-null float64
Street         227430 non-null object
Sublocatio     161895 non-null object
Violat         227430 non-null object
Void Rea       3736 non-null object
dtypes: float64(3), object(10)
memory usage: 22.6+ MB

In [125]:
#Export all 227k entries, with all 13 columns and missing values
df_all.to_csv("../../data/parking/all.csv")

In [136]:
df_intersect = df_all[list(intersection)]
df_intersect.to_csv("../../data/parking/shared_columns.csv")

In [127]:
df_precise_time = df_all[list(intersection) + ["Issue T"]]
df_precise_time.shape

(227430, 9)

In [128]:
df_precise_time = df_precise_time.dropna(subset=["Issue T"])
df_precise_time.shape

(207094, 9)

In [129]:
df_precise_time.to_csv("../../data/parking/time_data.csv")

**That is the right number of rows, so we now have another good CSV, with all non-null time data, but we are missing a lot of sublocation data, so maybe we should have another CSV with that for mapping**

In [130]:
#ugh there are 59000 entries where the street is "See notes" and sublocation is null, let's make a precise_location_df 
#where we grab all entries with good location data
df_precise_time[(df_precise_time["Street"] == "SEE NOTES") & (df_precise_time["Sublocatio"].isna())].shape

(58897, 9)

In [131]:
df_precise_location = df_all[list(intersection) + ["Issue T"]]
print(df_precise_location.shape)
df_precise_location = df_precise_location.dropna(subset=["Sublocatio", "Street"])
print(df_precise_location.shape)

(227430, 9)
(161895, 9)

In [132]:
#look for weird outliers like "SEE NOTES"
df_precise_location["Sublocatio"].value_counts()

300         13374
600         12333
400         12300
500         10809
200         10462
100          8530
2000         5768
700          4543
1800         3451
1600         3382
900          2778
1700         2280
1000         2212
1900         2190
2200         2118
1500         2003
200E         1829
600W         1739
400W         1703
1200         1606
1400         1482
800          1462
100S         1431
600S         1281
500BLOCK     1276
1300         1257
500S         1230
300E         1204
300W         1154
100E         1115
            ...
10204           1
1-100SL         1
522 W           1
8-102NA         1
307 W           1
14208           1
9206            1
471 S           1
2506            1
444E            1
M507AW          1
407BS           1
CH201           1
3503            1
ALI412B         1
116 N           1
132 E           1
4079            1
2060            1
6804            1
1836            1
3225            1
231 E           1
WA321E          1
7506            1
131.8MM         1
ALI313B         1
3918            1
3322            1
4MM             1
Name: Sublocatio, Length: 6196, dtype: int64

In [133]:
#look for weird outliers like "SEE NOTES"
df_precise_location["Street"].value_counts()

CHESTNUT ST            10216
4TH ST                  9914
MAIN ST                 9609
MUHAMMAD ALI BLVD       8384
LIBERTY ST              8233
JEFFERSON ST            8151
FLOYD ST                7186
3RD ST                  6884
MARKET ST               6149
BARDSTOWN RD            5587
1ST ST                  5177
6TH ST                  5075
5TH ST                  4602
7TH ST                  4328
PRESTON ST              3290
2ND ST                  2912
8TH ST                  2771
GRAY ST                 2468
BROOK ST                2394
BLOOM ST                2352
HIGHLAND AVE            1966
BAXTER AVE              1961
WASHINGTON ST           1949
HANCOCK ST              1594
DUNDEE RD               1559
ABRAHAM FLEXNER WAY     1418
JACKSON ST              1178
LEE ST                  1102
WITHERSPOON ST          1074
LUCIA AVE                932
                       ...
WHITMORE AVE               1
HERMITAGE WAY              1
SANDRAY BLVD               1
BROAD RUN RD               1
HILTON CT                  1
GARDEN DR                  1
GRAF DR                    1
LOTIS WAY                  1
MICHAEL RAY DR             1
COKE ST                    1
POWDER HORN DR             1
VANETO DR                  1
LENCOTT DR                 1
BISHOP LN                  1
RUSSELL LEE CT             1
SHUTESBURY CIR             1
CASSIDY CIR                1
POMEROY CT                 1
GAILBREATH AVE             1
STRIVE LN                  1
TRIO AVE                   1
BLUEBELL DR                1
LANSDOWNE AVE              1
PARLIAMENT CT              1
BILJANA DR                 1
MELON CT                   1
GUARDIAN CT                1
GLEN ROSE CT               1
BUTTERNUT CT               1
EMILY RD                   1
Name: Street, Length: 1534, dtype: int64

In [135]:
#ready for export
df_precise_location.to_csv("../../data/parking/location_data.csv")